main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 1em;
}

main form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    min-width: 300px;
}

main form input {
    height: 30px;
    padding: .3em 1em;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 6px;
}

main form button {
    all: unset;
    height: 25px;
    padding: .3em 1.35em;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
}


@media screen and (min-width: 700px) {
    main {
        margin-top: 0;
        position: relative;
        bottom: -20px;
    }
}

@media screen and (min-width: 1030px) {
    main {
        height: 93vh;
        margin-top: 0;
        position: relative;
        top: -10px;
    }
}

@media screen and (max-width: 700px) {
    main {
        height: 96vh;
        margin-top: 0;
        position: relative;
        top: -30px;
    }
}